PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/cake-order
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
FRONTEND_URL=http://localhost:3000
